@page
@model FinalProject_BloggingNewsSite.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<style>
    * {
        color: #dedede;
    }
    .center-text {
        text-align: center;
    }
    .home {
        font-size: 35px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .body-text {
        font-size: 22px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .bottom-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 35px;
        margin-bottom: 35px;
        
    }
    .main-text {
        border: 3px solid white;
        border-radius: 25px;
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: #121212;
    }
    .main-text h1 {
        padding-left: 50px;
    }
    .main-text h2 {
        padding-left: 50px;
    }
</style>


<div class="main-text">
    <h1 style="margin-bottom: 20px;"><i>@Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Title)</i></h1>
    <h2 style="margin-bottom: 20px;">By <i>@Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Author) on @Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Date)</i></h2>
    <p class="body-text">&nbsp; &nbsp; &nbsp; @Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Body)</p>
    <h2>For more, visit <a style="text-decoration: underline;" target="_blank" href=@Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Link)>@Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Link)</a></h2>
</div>

<div class="bottom-links">
    <h1 class="center-text"><a class="home btn btn-primary" asp-page="./Index">Back to Homepage</a></h1>
    <h1 class="center-text"><a class="home btn btn-warning" asp-page="./Edit" asp-route-id="@Model.FinalProject_BloggingNewsSiteModel.ItemID">Edit this Listing</a></h1>
</div>


<!--
<div>
    <h1>FinalProject_BloggingNewsSiteModel</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalProject_BloggingNewsSiteModel.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalProject_BloggingNewsSiteModel.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalProject_BloggingNewsSiteModel.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalProject_BloggingNewsSiteModel.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalProject_BloggingNewsSiteModel.Link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalProject_BloggingNewsSiteModel.Link)
        </dd>
    </dl>
</div> -->