@page
@model FinalProject_BloggingNewsSite.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-item {
        font-size: 1.5rem;
        width: 475px;
        text-align: center;
        border: 4px solid #808080;
        margin: 15px;
        padding: 25px;
        background-color: rgb(65 65 65);
        color: rgb(211,211,211);
        border-radius: 25px;
        transition: 0.5s;
    }
    .flex-item:hover {
       border: 4px solid red;
    }
    .top-header {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        border: 4px solid #808080;
        margin: 15px;
        padding: 25px;
        background-color: rgb(65 65 65);
        color: rgb(211,211,211);
        border-radius: 25px;
    }
    .flex-item a {
        color: white;
        text-decoration: none;
    }
</style>

<h1 class="light-text">Main Page</h1>

<div class="main-content">
    <div class="top-header">
        <h1>Owings News Network</h1>
    </div>
</div>

<div class="main-content flex">
    @foreach (var item in Model.FinalProject_BloggingNewsSiteModel)
     {
        <div class="flex-item">
                
            <a asp-page="./Details" asp-route-id="@item.ItemID">
                <h1><i>@Html.DisplayFor(modelItem => item.Title)</i></h1>
                <p>By: @Html.DisplayFor(modelItem => item.Author)</p>
                <p>@Html.DisplayFor(modelItem => item.Date)</p>
                <p>@Html.DisplayFor(modelItem => item.Summary)</p>
            </a>
        </div>
     }
</div>