@page
@model FinalProject_BloggingNewsSite.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FinalProject_BloggingNewsSiteModel[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalProject_BloggingNewsSiteModel[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalProject_BloggingNewsSiteModel[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalProject_BloggingNewsSiteModel[0].Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalProject_BloggingNewsSiteModel[0].Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FinalProject_BloggingNewsSiteModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ItemID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ItemID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
